body {
  background-image: url(icy2.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
p {
   margin-top: 30px;
  margin-bottom: 350px;
  margin-right: 150px;
  margin-left: 150px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
    color: black;
    font-family:'Courier New';
  
}
  .demopara {
  line-height: 2 ;
}
h3{
    color:black;
    font-family:'Courier New';
}
h4{
    color: black;
    font-family:'Courier New';
}
