h4{
    color: maroon;
    font-size:medium;
    font-family:serif;
}
h2{
    color:lightcoral;
    font-size: medium;
}
h1{
    text-align: center;
}
.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    opacity: 0.4;
  }
.image2 {
    display: block;
}
form {
    text-align: right;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom: auto;
}
body {
    background-image: url("gradient.png");
    background-color: #cccccc;
    background-position: center;
   }
.column {
    float: right;
    width:50%;
}
.left{
    width: 25%
    text-align: left;
}
.right {
    width: 75%
    text-align: right;
    
}