body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color: black;
    text-align: center;
}
h3{
    color:black;
    font-size:medium;
    text-align: center;
}
h4{
    color: black;
    font-size:medium;
    font-family:serif;
    text-align: center;
}
