body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color: black;
    font-family:serif;
}
h3{
    color:black;
    font-size:medium;
    font-family:serif;
}
h4{
    color: black;
    font-size:medium;
    font-family:serif;
}
